.chatWindow {
    display: flex;
    flex-direction: column;
    height: 100%;
}

.chatWindow--header {
    height: 60px;
    border-bottom: 1px solid #ccc;
    display: flex;
    justify-content: space-between;
    padding: 0 15px;
}

.chatWindow--headerinfo {
    display: flex;
    align-items: center;
    cursor: pointer;
}

.chatWindow--avatar {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    margin-right: 15px;
}

.chatWindow--name {
    font-size: 17px;
}

.chatWindow--headerbuttons {
    display: flex;
    align-items: center;
}

.chatWindow--btn {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    margin: 2px;
    overflow: hidden;
    transition: all 0.3s ease-in-out 0s;
}

.chatWindow--btn svg {
    color: #919191;
}

.chatWindow--body {
    flex: 1;
    overflow-y: auto;
    background-color: #e5ddd5;
    background-image: url('https://user-images.githubusercontent.com/15075759/28719144-86dc0f70-73b1-11e7-911d-60d70fcded21.png');
    background-size: 500px;
    padding: 20px;
}

.chatWindow--footer {
    height: 62px;
    display: flex;
    align-items: center;
    padding: 0 15px;
}

.chatWindow--pre {
    display: flex;
    margin-right: 15px;
}

.chatWindow--inputarea {
    flex: 1;
}

.chatWindow--input {
    width: 100%;
    height: 40px;
    border: 0;
    outline: 0;
    background-color: #fff;
    border-radius: 20px;
    font-size: 15px;
    color: #4a4a4a;
    padding-left: 15px;
}

.chatWindow--pos {
    display: flex;
    margin-left: 15px;
}

.chatWindow--emojiarea {
    overflow-y: hidden;
    transition: all 0.3s ease-in-out 0s;
}

aside.emoji-picker-react {
    width: auto;
    background: none;
}

.emoji-picker-react .emoji-group::before {
    background: none;
}