.chatIntro {
    height: 100%;
    background-color: #f8f9fa;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-bottom: 6px solid #4adf83;
}

.chatIntro img {
    width: 250px;
    height: auto;
}

.chatIntro h1 {
    font-size: 32px;
    color: #525252;
    font-weight: normal;
    margin-top: 30px;
    margin-bottom: 21px;
    text-align: center;
}

.chatIntro h2 {
    font-size: 14px;
    color: #777;
    margin-top: 0;
    font-weight: normal;
    line-height: 1.2em;
    text-align: center;
}

.chatIntro h2 a {
    color: #3caa66;
    text-decoration: none;
}