* {
  box-sizing: border-box;
}

body {
  background-color: #d2dbdc;
  margin: 0;
  font-family: 'Segoe UI', Helvetica Neue, Helvetica, Lucida Grande, Arial, Tahoma, Geneva, Verdana, sans-serif;
}

.app-window {
  display: flex;
  height: 100vh;
  background-color: #ededed;
}